#blue {
  text-align:center;
  background-color: #F9FFCF;
  color: #8807FF;
  margin-left: 5%;
  margin-right: 10%;
  width: 85%;
  padding: 30px;
}

#pink {
  text-align:center;
  background-color: #0939A3;
  color: white;
  margin-left: 5%;
  margin-right: 10%;
  width: 85%;
  padding: 30px;
}

#red {
  text-align: center;
  background-color: #FFBEBE;
  color: black;
  margin-left: 5%;
  margin-right: 10%;
  width: 85%;
  padding: 30px;
}